# https://www.convex.dev/
NEXT_PUBLIC_CONVEX_URL=https://<YOUR_CONVEX_PROJECT>
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY = <YOUR_CLERK_PUBLISHABLE_KEY>

# https://clerk.com/
CLERK_JWT_ISSUER_DOMAIN=https://your-instance.clerk.accounts.dev
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<YOUR_CLERK_PUBLISHABLE_KEY>
CLERK_SECRET_KEY=<YOUR_CLERK_SECRET_KEY>

# https://cloud.google.com/ai-platform/vertex-ai/docs/generative-ai/overview
GOOGLE_AI_API_KEY=<YOUR_GOOGLE_AI_API_KEY>
# Model name, e.g. models/gemini-2.5-flash
GOOGLE_AI_MODEL=models/gemini-2.5-flash
GOOGLE_AI_MODEL_IMAGE_GEN=models/gemini-2.5-flash-preview-05-20-image-generation

# Must be a 32-byte (64 hex character) string
ENCRYPTION_KEY=<YOUR_ENCRYPTION_KEY>
